@import url('./__avatar/profile__avatar.css');
@import url('./__title-edit/profile__title-edit.css');
@import url('./__title/profile__title.css');
@import url('./__subtitle/profile__subtitle.css');
@import url('./__edit/profile__edit.css');
@import url('./__edit-img/profile__edit-img.css');
@import url('./__info/profile__info.css');
@import url('./__add/profile__add.css');

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF; 
  font-family: Inter;
  max-width: 882px;
  margin: 0 auto 51px;
  padding: 0;
}

@media screen and (max-width: 881px) {
  .profile {
    padding: 0 19px;
  }
}

@media screen and (max-width: 677px) {
  .profile {
    flex-direction: column;
    margin: 0 auto 36px;
  }
}