.profile__edit-img {
  width: 10px;
  height: 10px;
  border: 1px solid #FFFFFF;
  transition: .4s linear;
  padding: 6px;
  margin: 37px 0 0;
}

.profile__edit-img:hover {
  opacity: 0.6;
}

@media screen and (max-width: 677px) {
  .profile__edit-img {
    padding: 3px;
  }
}